doctype html
html(lang="en")
    head
        title Update contact info
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Company: #{name}
            p Balance: #{balance}
            form(method="POST")
                label(for="newVal") New Balance
                input(type="text" name="newVal" required)
                input(type="submit" value="Submit")